.tarball-version
.version
.*.swp
ABOUT-NLS
build-aux
intltool-extract.in
intltool-merge.in
intltool-update.in
*~
*.tar.gz
*.pc
PulseAudioConfig.cmake
PulseAudioConfigVersion.cmake
/Makefile
/Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
pulse-daemon.log
depcomp
install-sh
libltdl
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
.project
.dirstamp
.cproject
.autotoolspatches
doxygen/doxygen-warn.log
patches/justinzane-lfe-01.patch
.autotools
.cproject
.project
.pydevproject
.settings
*.pcm
pytests/output/*pytests/a.c
pytests/all-perm-chirp_40-2560.c
pytests/all-perm-chirp_40-2560.flac
pytests/all-perm-chirp_40-2560.m4a
pytests/all-perm-chirp_40-2560.pcm
pytests/all-perm-chirp_40-2560.wav
pytests/a.out
pytests/ch_6_combos.c
pytests/ch6_combos_test-cropped-01.c
pytests/ch6_combos_test-cropped-01.pcm
pytests/ch6_combos_test-cropped-02.c
pytests/ch6_combos_test-cropped-02.pcm
pytests/ch6_combos_test-cropped-03.c
pytests/ch6_combos_test-cropped-03.pcm
pytests/ch6_combos_test_mixed-mono.c
pytests/ch6_combos_test_mixed-mono.pcm
pytests/ch_6_combos.wav
pytests/ch6_in-order.c
pytests/ch6_in-order.wav
pytests/chirp_40-2560.c
pytests/chirp_40-2560.pcm
pytests/lfe-lp.c
pytests/lfe-lp.pa
pytests/lfelptest.c
pytests/lfelptest.py
pytests/pa_test
pytests/resampler.py
pytests/stereo_1760-28-440.wav
pytests/stereo_1k-20-22k.wav
pytests/stereo_20-20000Hz.wav
pytests/stereo_opposed-phase.wav
pytests/testan2
pytests/output/all-perm-chirp_40-2560_lowpass_test-01.pcm
pytests/output/all-perm-chirp_40-2560_unfiltered_test-01.pcm
pytests/output/figure-16-FR_.png
pytests/output/figure-1-LFE_.png
pytests/output/figure-2-C_.png
pytests/output/figure-32-FL_.png
pytests/output/figure-4-FR_.png
pytests/output/figure-8-FL_.png
pytests/output/filtered-out.pcm
pytests/output/recorded-out.pcm
pytests/output/test-100.pcm
pytests/output/test-107.pcm
pytests/output/test-109.pcm
pytests/output/test-119.pcm
pytests/output/test_1.svg
pytests/output/test_200.png
pytests/output/test_249_03311830.svg
pytests/output/test_249_03311853.svg
pytests/output/test_249_bad-lr.svg
pytests/output/test_249_good-lr.svg
pytests/output/test-249.pcm
pytests/output/test_249_q0.342.png
pytests/output/test_249_q0.5.png
pytests/output/test_249_q0.707.png
pytests/output/test_250_1-8_01.svg
pytests/output/test-250-1.pcm
pytests/output/test-250-2.pcm
pytests/output/test-250-3.pcm
pytests/output/test-250-4.pcm
pytests/output/test-250-5.pcm
pytests/output/test-250-6.pcm
pytests/output/test-250-7.pcm
pytests/output/test-250-8.pcm
pytests/output/test-39.pcm
pytests/output/test-440.pcm
pytests/output/test-50-1.pcm
pytests/output/test-50-2.pcm
pytests/output/test-50-3.pcm
pytests/output/test-50-4.pcm
pytests/output/test-79.pcm
